# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: soju
version: "1.0.0"
slug: example
description: IRC bouncer
url: "https://github.com/kmaasrud/hassio-addons/tree/main/soju"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
init: false
ports:
  6667/tcp: 6667
